.nav-bar {
    display: flex;
    height: 100px;
    background-color: #E4F9F5;
    justify-content: space-around;
    grid-area: nav;
    width: 100%;
}

.nav-bar .link a {
    line-height: 100px;
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-icon {
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.search-img {
    height: 90%;
    width: 90%;
    margin: 0 auto;
}


/* hamburger menu */
